catboost==1.2.2
ckwrap==0.1.10
cliffs-delta==1.0.0
colorama==0.4.4
loess==2.1.2
matplotlib==3.8.0
matplotlib-inline==0.1.6
more-itertools==8.10.0
numpy==1.25.2
pandas==2.0.3
psutil==5.9.5
pymongo==4.4.0
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
statsmodels==0.14.0
xgboost==2.0.0